.about_content{
    position: relative;
    top:100px;
    width: 80%;
    //margin-top:50px;
    padding-left: 20px;
    padding-right: 20px;
}
strong{
    font-weight: bold;
}
.about_title{
    font-size: 50px;
    padding-bottom:20px;
    padding-top: 20px;

}
.about_article{
    font-size: 15px;
    width: 80%;
    padding-bottom:20px;
    padding-top: 20px;
}
p {
    margin-bottom:20px;
}
.author_position{
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.founders_image{
    width: 100%;
    height: auto;

}

.founders{
    margin-bottom: 50px;

}
.employees{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: fit-content(100%);
    grid-column-gap: 50px;


}
.employee{
    padding: 10px 10px 10px 10px;
    margin-bottom: 50px;
}
.employee_image{
    height: 90% ;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    //vertical-align: middle;
    text-align: center;
}

.employee_about{

    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1200px){
    .employees{

    grid-column-gap: 30px;
}


}

@media only screen and (max-width: 800px){
    .employees{

        grid-template-columns: 1fr;


}
        .employee{
            padding: 0 0 0 0;
    margin-bottom: 0;
}
    .employee_about{

    margin-top: 10px;
    margin-bottom: 0;
}



}