.join_us , .studio , .about ,.contact, .work , .ideas{
    color:hotpink;
}

.join_us_mobile , .studio_mobile , .about_mobile ,.contact_mobile, .work_mobile , .ideas_mobile{
    opacity: 1;
}





 @media only screen and (max-width: 800px){


     .join_us_content, .studio_content, .about_content, .contact_content {
        width: 100%;

}
 }

