.studio_content{
    position: relative;
    top:100px;
    width: 80%;
    //margin-top:50px;
    padding-left: 20px;
    padding-right: 20px;
    height: 200vh;


}

.video_content{
    margin-bottom: 50px;
}

.article{
    font-size: 18px;
    opacity: .9;
    color: dimgrey;

}

.words{
    color: darkslategrey;
}
strong{
    font-weight: bold;
}

.instagram{
    color: black;
    opacity: 1;
}
